@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reset.css';

body {
  color: theme("colors.black.02");
  background-color: theme("colors.gray.01");
  font-size: theme("fontSize.m");
  line-height: 1.7;
}