@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./reset.css";

body {
	color: theme("colors.custom.black.02");
	background-color: theme("colors.custom.gray.01");
	font-size: theme("fontSize.m");
	line-height: 1.7;
	font-family: var(--font-notoSansJP);
}
