.btn {
	display: flex;
	justify-content: center;
	gap: 10px;
	width: fit-content;
	max-width: 100%;
	text-align: center;
	padding: 8px 12px;
	color: theme("colors.custom.white.01");
	background-color: theme("colors.custom.primary");
	border-radius: 6px;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}

	&.disabled,
	&.prosessing {
		pointer-events: none;
		opacity: 0.6;
	}

	& > .spinner {
		width: 20px;
	}
}
