.btn {
	display: block;
	width: fit-content;
	min-width: 80px;
	max-width: 100%;
	padding: 8px 12px;
	color: theme("colors.white.01");
	background-color: theme("colors.primary");
	border-radius: 6px;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}
